<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Backend developer, passioned about Ruby. Confident and fast learning guy, oriented on results and perfomance. While I'm not bringing websites to life, I'm usually playing the guitar dreaming to make a garage band from my friends.</p>
            </div>
            <div class="col-lg-4">
                <p>Now I want to achieve high carrier growth through a continuous learning process and keep myself dynamic, visionary and competitive with the changing scenario of the world</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="/resume_new.pdf" target="_blank" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Download CV
                </a>
            </div>
        </div>
    </div>
</section>