<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="/images/profile_my.png" alt="">
                <div class="intro-text">
                    <span class="name">Yaroslav Filyk</span>
                    <hr class="star-light">
                    <span class="skills">Full-Stack Ruby Developer</span>
                </div>
            </div>
        </div>
    </div>
</header>