<!-- Portfolio Modals -->
  <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Cypress</h2>
                          <hr class="star-primary">
                          <img src="/images/portfolio/Cypress_opt_big.png" class="img-responsive img-centered" alt="">
                          <p>This app will help in almost every step of the process of drinking wine. With a database of well over a million wines, you should be able to find the one you're looking for. Once you've found your wine, you can take tasting notes, rate it, and add a photo of the label so you remember it. This will get saved to your virtual cellar so you can keep track of the wines you've tasted. Cypress replaces those cheesy wine tasting journals and does it cleanly and simply.</p>
                          <ul class="list-inline item-details">
                              <li><!-- Client:
                                  <strong><a target="_blank" href="http://www.magnolias-blossom-cypress.com/cypresshome.asp?catID=20427">Cypress Restaurant</a>
                                  </strong> -->
                              </li>
                              <li>Date:
                                  <strong>December 2014</strong>
                              </li>
                              <li>Service:
                                  <strong>Backend Web Development</strong>
                              </li>
                          </ul>
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Consumer Huawei Ukraine</h2>
                          <hr class="star-primary">
                          <img src="/images/portfolio/huawei_opt_big.png" class="img-responsive img-centered" alt="">
                          <p>Website for the Ukrainian branch of the <a href="http://consumer.huawei.com/">Consumer Huawei website</a>. Huawei Technologies Co. Ltd. is a Chinese multinational networking and telecommunications equipment and services company headquartered in Shenzhen, Guangdong. It is the largest telecommunications equipment maker in the world, having overtaken Ericsson in 2012.</p>
                          <ul class="list-inline item-details">
                              <li><!-- Client:
                                  <strong><a href="http://consumer.huawei.com/ua/" target="_blank">Huawei Ukraine</a>
                                  </strong> -->
                              </li>
                              <li><!-- Date:
                                  <strong>December 2013</strong> -->
                              </li>
                              <li>Service:
                                  <strong>Full-Stack Web Development</strong>
                              </li>
                          </ul>
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Spotihunt</h2>
                          <hr class="star-primary">
                          <img src="/images/portfolio/spotihunt_opt_big.png" class="img-responsive img-centered" alt="">
                          <p>Spotihunt is a web app designed for musiclovers to share their favorite songs and playlists. People are able to post their gems and hunts, gain instant feedback, upvotes and fame on their taste.</p>
                          <ul class="list-inline item-details">
                              <li><!-- Client:
                                  <strong><a href="http://www.spotihunt.com" target="_blank">Spotihunt</a></strong> -->
                              </li>
                              <li><!-- Date:
                                  <strong>March 2015</strong> -->
                              </li>
                              <li>Service:
                                  <strong>Full-Stack Web Development</strong>
                              </li>
                          </ul>
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Pepelatz Production Website</h2>
                          <hr class="star-primary">
                          <img src="/images/portfolio/pepelatz.png" class="img-responsive img-centered" alt="">
                          <p>Main website of the brand new agency: Pepelatz Production. Originally was developed as a mix of Padrino and AngularJS frameworks, but later was reworked as a simple Ruby on Rails application.</p>
                          <ul class="list-inline item-details">
                              <li><!-- Client:
                                  <strong><a href="http://pepelatzproduction.com/" target="_blank">Pepelatz Production</a>
                                  </strong> -->
                              </li>
                              <li><!-- Date:
                                  <strong>December 2014</strong> -->
                              </li>
                              <li>Service:
                                  <strong>Full-Stack Web Development</strong>
                              </li>
                          </ul>
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>Meet Your Street!</h2>
                          <hr class="star-primary">
                          <img src="/images/portfolio/pinteresting_opt_big.png" class="img-responsive img-centered" alt="">
                          <p>MeetYourStreet is a neighbourhood-network where you can rent, sell or share things with pins. Everything is Environmentally sustainable because you do it in your neighbourhood.</p>
                          <ul class="list-inline item-details">
                              <li><!-- Client:
                                  <strong><a href="http://www.meetyourstreet.ch/">meetyourstreet.ch</a>
                                  </strong> -->
                              </li>
                              <li><!-- Date:
                                  <strong>February 2015</strong> -->
                              </li>
                              <li>Service:
                                  <strong>Full-Stack Web Development</strong>
                              </li>
                          </ul>
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
              <div class="lr">
                  <div class="rl">
                  </div>
              </div>
          </div>
          <div class="container">
              <div class="row">
                  <div class="col-lg-8 col-lg-offset-2">
                      <div class="modal-body">
                          <h2>LG: Everything is possible!</h2>
                          <hr class="star-primary">
                          <img src="/images/portfolio/LG Ukraine.png" class="img-responsive img-centered" alt="">
                          <p>Predict your destiny with this awesome LG 8-ball.</p>
                          <ul class="list-inline item-details">
                              <li><!-- Client:
                                  <strong><a href="#">LG Ukraine</a>
                                  </strong> -->
                              </li>
                              <li><!-- Date:
                                  <strong>October 2013</strong> -->
                              </li>
                              <li>Service:
                                  <strong>Full-Stack Web Development</strong>
                              </li>
                          </ul>
                          <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>