<!DOCTYPE html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Yaroslav Filyk - Full-Stack Ruby Developer</title>

  <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
  <link href="/stylesheets/bootstrap.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="/stylesheets/freelancer.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
  
  <!-- Favicon -->
  <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon">

  <!-- Plugins -->
  <link rel="stylesheet" type="text/css" href="/stylesheets/sweet-alert.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body id="page-top" class="index">

  <%= partial "header" %>

  <%= yield %>

  <%= partial "footer" %>

  <%= partial "modals" %>

  <!-- jQuery -->
  <script src="/javascripts/jquery.js"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="/javascripts/bootstrap.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
  <script src="/javascripts/classie.js"></script>
  <script src="/javascripts/cbpAnimatedHeader.js"></script>

  <!-- Contact Form JavaScript -->
  <script src="/javascripts/jqBootstrapValidation.js"></script>
  <script src="/javascripts/contact_me.js"></script>

  <!-- Custom Theme JavaScript -->
  <script src="/javascripts/freelancer.js"></script>
  <script src="/javascripts/sweet-alert.min.js"></script> 
  <!--[if lt IE 7]>
    <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
    <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
  <![endif]-->
</body>

